@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.luxurious {
  font-family: "Alex Brush", cursive;
}

.cursive {
  font-family: "Alex Brush", cursive;
}

@keyframes heroZoom {
  0% { transform: translate(-50%, -50%) scale(1); }
  50% { transform: translate(-50%, -50%) scale(1.15); }
  100% { transform: translate(-50%, -50%) scale(1); }
}

.animate-heroZoom {
  animation: heroZoom 15s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}
